<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Resource Not Available</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
    <h1>404 - Resource Not Available</h1>
    <p>We're sorry, but the resource you requested could not be found or the provider does not support it.</p>
    <p>Please check the URL and try again, or for provider support of resource.</p>
    </div>
</body>
</html>