<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Failed to Load Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
    <h1>Oops! Failed to Load Page</h1>
    <p>We're sorry, but there was an error loading the page you requested.</p>
    <p>Please try again later.</p>
    </div>
</body>
</html